*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);

  --font-size: 14px;
  --font-family: "Inter", sans-serif;
  
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--white);
}